# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment variables
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/

# Data and Vector Stores
data/
vector_store_faiss/
notebooks/data/
notebooks/vector_store_faiss/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
